	*{
		font: arial;
		}
	h1 {
		color:blue;
		font: 30px;
		}
	h2, h3 {
		color:blue;
		font: 22px;
		}
	p {
		color:blue;
		font: 13px;
		}
	li {
		color:purple;
		font: 13px;
		}
	ol li span {
		color:blue;
		font: 13px;
		}	
	a:visited{
		color:blue;
		}
	a:hover{
		color:silver;
		}
	a:active{
		color:green;
		}	
	P:first-letter{
		color:red;
		}
	.thanks{
		color:red;
		}
	#companyname{
		font-weight:bold;
		}